{
  "openapi": "3.1.0",
  "info": {
    "title": "Chainwire External API",
    "version": "1.0.0",
    "description": "The Chainwire External API allows partners to retrieve PR distribution data."
  },
  "servers": [
    {
      "url": "https://app.chainwire.org/api/external-api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "Get Orders",
        "description": "Retrieve a paginated list of your PR distribution orders.",
        "operationId": "getOrders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of orders to return per request.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of orders to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter orders by their current status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "finished",
                "publishing",
                "publishing_ended"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total number of orders matching criteria."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "The limit applied to the response."
                    },
                    "offset": {
                      "type": "integer",
                      "description": "The offset applied to the response."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "The array of order objects."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing Bearer token."
          },
          "422": {
            "description": "Validation error — invalid status value provided."
          }
        }
      }
    },
    "/orders/{id}/articles": {
      "get": {
        "summary": "Get Order Articles",
        "description": "Retrieve published articles for a specific order, including website domain information.",
        "operationId": "getOrderArticles",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of articles for the specified order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The article ID."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of the published article."
                          },
                          "website_id": {
                            "type": "integer",
                            "description": "The ID of the website."
                          },
                          "website_domain": {
                            "type": "string",
                            "description": "The domain of the website (e.g. example.com)."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing Bearer token."
          },
          "404": {
            "description": "Order not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Your Chainwire API key, prefixed with `cw_ext_`."
      }
    }
  }
}