{
  "openapi": "3.1.0",
  "info": {
    "title": "MediaFuse External API",
    "version": "1.0.0",
    "description": "The MediaFuse External API allows partners to retrieve PR distribution data."
  },
  "servers": [
    {
      "url": "https://app.chainwire.org/api/external-api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "Get Orders",
        "description": "Retrieve a paginated list of orders for all members of your organization. Sorted by created_at descending.",
        "operationId": "getOrders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max orders to return. Min: 1, Max: 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of orders to skip.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status. `all` returns all orders. `finished` returns fully distributed orders. `processing` returns orders currently publishing.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "finished",
                "processing"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "press_release_title": {
                            "type": "string"
                          },
                          "order_status": {
                            "type": "string",
                            "enum": [
                              "finished",
                              "processing"
                            ]
                          },
                          "distribution_date_utc": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 123,
                      "press_release_title": "Chainwire Launches New Feature",
                      "order_status": "finished",
                      "distribution_date_utc": "2026-01-15 10:00:00",
                      "created_at": "2026-01-14 08:00:00"
                    }
                  ],
                  "total": 42,
                  "limit": 50,
                  "offset": 0
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing Bearer token."
          },
          "422": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/orders/{id}/articles": {
      "get": {
        "summary": "Get Order Articles",
        "description": "Retrieve published articles for a specific order. The order must belong to your organization.",
        "operationId": "getOrderArticles",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order articles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "integer"
                    },
                    "press_release_title": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "article_url": {
                            "type": "string"
                          },
                          "published_at": {
                            "type": "string"
                          },
                          "website_domain": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "order_id": 123,
                  "press_release_title": "Chainwire Launches New Feature",
                  "data": [
                    {
                      "id": 1,
                      "article_url": "https://example.com/chainwire-launches-new-feature",
                      "published_at": "2026-01-20 09:00:00",
                      "website_domain": "example.com"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing Bearer token."
          },
          "404": {
            "description": "Order not found or not accessible."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Your MediaFuse API key, prefixed with `cw_ext_`."
      }
    }
  }
}